DATABASE_URL=
JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_EXPIRES_MINUTES=

RABBITMQ_HOST=
RABBITMQ_VHOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

AWS_REGION=
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_PRESIGNED_URL_EXPIRATION_MINUTES=

IMPORT_TEMPLATE_FILE_KEY=
VOUCHER_POOL_IMPORT_MAX_FILE_SIZE_BYTES=
